.card__like-button_liked {
  background: no-repeat center url('../../../../images/icon-heart_liked.svg');
  padding: 0;
  margin: 0;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
}