.form__input {
  all: unset;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 30px;
}

.form__input:last-child {
  margin-bottom: 50px;
}