.popup__close-button {
  all: unset;
  position: absolute;
  top: -36px;
  right: -36px;
  background: url("../../../images/icon-close.svg") no-repeat center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .popup__close-button {
    right: 0;
    width: 20px;
    height: 20px;
  }
}