.profile__occupation {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .profile__occupation {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__occupation {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}